---
import type { GetStaticPaths } from "astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const services = await getCollection("services");
  return services.map((service) => ({
    params: { slug: service.slug },
    props: service,
  }));
}) satisfies GetStaticPaths;

const service = Astro.props;
const { Content } = await service.render();

const { slug } = service;
const { title, subtitle } = service.data;
---

<Layout title={`${title} | Gaterapia`}>
  <main class="w-full px-4 grid gap-10 sm:gap-4">
    <section class="grid gap-10 sm:gap-4">
      <div class="text-white text-center">
        <h1 class="font-['Caveat_Brush'] text-5xl">
          {title}
        </h1>
        {subtitle && <h2 class="text-2xl">{subtitle}</h2>}
      </div>
      <Image
        width="320"
        height="320"
        loading="eager"
        src={`/services/${slug}.webp`}
        alt={`Foto ilustrativa del servicio de ${title}`}
        class="mx-auto rounded-2xl size-80 md:size-[500px]"
      />
    </section>
    <section class="prose prose-invert">
      <Content />
    </section>
  </main>
</Layout>
